#section-2row-website-grid{
	color:#fff;
	h1{
		margin-bottom: 1em;
	}
	.second-row{
		.currently-viewing{
			padding-top: 0 !important;
	    padding-bottom: 0 !important;
	    margin-top: .4em;
    }
	}
}