.section-col-12-slider{
	padding : 4em 0;
	text-align:center;
	div{
		position:relative;
		.owl-carousel{
			position:static;
			margin-top: 70px;
			margin-bottom: 70px;
			.owl-item{
				.item{
					img{
						max-width:500px;
						width: auto;
						display:inline-block;
						margin-bottom:40px;
						@extend .img-responsive;
					}
					p{
						@extend .p2;
					}
					span{
						@extend .p3;
						margin-top: 35px;
					}
				}
			}
			.owl-nav{
				position: absolute;
		    top: -111px;
		    width: 100%;
		    font-size: 4em;
		    color: #000;
		    left:0;
				.owl-prev{
					display: inline-block;
					margin-left: 3%;
					float:left;
				}
				.owl-next{
					display: inline-block;
					float:right;
					margin-right: 3%;
				}
			}
		}
	}
}
