#footer{
	height:300px;
	background-color:$blue;
	padding: 13em 0;
	span{
		@extend .p2;
		color:#fff;
		font-size: 1.8em;
    display: inline-block;
	}
	.menu-footer-container{
		ul{
			list-style: none;
			padding:0;
			margin:0;
			li{
				display: inline-block;
				float:left;
				a{
					@extend .p2;
					color:#fff;
					font-size: 1.7em;
					text-decoration:none;
					&:after{
						content:"|";
						color:#fff;
						font-size: 1.1em;
						margin:0 10px;
					}
				}
				&:last-child{
					a:after{
						content: "";
					}
				}
			}
		}
	}
}