header.banner{
	padding-top:1em;
	padding-bottom:1em;
	.brand{
		width:auto;
		float:left;
		
			margin-right:5%;
			img{
				width:auto;
				height:95px;
			}
		
	}
/* 	$colors: $purple, $blue, $yellow, $blue-light,$grey; */
	nav.nav-primary{
		ul.navbar-nav{
			display: inline-block;
		  margin-top: 2.5em;
			> li.menu-item{
				width:120px;
				text-align:center;
				.dropdown-menu{
					li{
						
						a{
							font-size: 1em;
							padding-top:1em;
							padding-bottom:1em;
						}
						&.active{
							a{
								background:none;
								border-bottom: 2px solid $blue;
							}
						}
					}
				}
				&:after{
					content: "";
					background-color: $blue;
			    width: 0%;
			    height: 4px;
			    display: block;
			    border-radius: 5px;
				}
				&:hover:after{
					width: 100%;
					background-color: $purple;
					transition: .3s width ease;
				}
				&.active:after{
					background-color: $blue;
						width: 100%;
				  				
				}
				a{
					font-weight:$extra-bold;
					font-size: 1.4em;
					color: #000;
					text-transform: uppercase;
					&:focus,&:hover{
						background:none;
						border:0;
						outline:none;
					}

				}
			}
		}
	}
}