section.video{

		.short-bio{
			height:100%;
			.card{
				height:100%;
				p{
					text-align: center;
				}
				a{
					/* position:absolute;
					left:0;
					right:0;
					bottom:0;
					width: 120px;
					margin:auto; */
				}
			}
		}
		.video-item{
			float:none;
			display: inline-block;
			margin-bottom:4em;
			height:350px;
			a{height:100%;}
		}
	
}

section.key_points{
	.item{
		i{
			font-size: 6em;
		}
		.content{
			float: none;
		}
	}
}

section.business-keynote{
	.card{
		background-color: rgba(#fff, 0.9);
		padding-left: 10%;
    padding-right: 10%;
	}

}

section.back{
	.card{
		padding-left: 10%;
    padding-right: 10%;
	}

}