/*===============================
=            Globals            =
===============================*/
h1, .h1{
	font-size: 4em;
}
.p2{
	font-size:2em;
}

/*=====================================
=            Coaches Cards            =
=====================================*/
.coach{
	padding:3em 0;
	img{
		width:180px;
		display:inline-block;
	}
	.card{
		hgroup{
		text-align: center;
		}
		p{
			height:unset;
			text-align: center;
			width: 80%;
    	margin: auto;
		}
		.btn{
			float:none !important;

		}
	}
	.item{
		width: 100%;
	}

}

/*=============================
=            Cards            =
=============================*/
.card{
	&.style-1{
		background-color: rgba(255,255,255,0.9);
    padding: 4em 3em;
    width: 100%;
    height:auto;
		img{
		
		}
		hgroup{
			h6{
			}
			h1{
			}
		}
		p{

		}
		.button-list{
	    // bottom: 1.5em;
	    overflow: hidden;
	    bottom:0px;
	    display:block;
	    position:relative;
		}
		
		.btn:nth-child(2n+1){
			float:none;
			  margin: 0.5em 0em;
		    padding: 1em;
		    height: auto;
		}
		.btn:nth-child(2n){
			float:none;
			  margin: 0.5em 0em;
		    padding: 1em;
		    height: auto;
		}
	}
	&.style-4{
		
		img{

		}
		hgroup{
			h6,h1{
			
			}
		}
		p{
			height: unset;
		}
		.wrapper{
			
		}
		.button-list{
			.btn{
			
			}
		}
		&.blue .wrapper{
			background-color: rgba($blue, 0.9);
		}
		&.blue-light .wrapper{
			background-color: rgba($blue-light, 0.9);
			.button-list{
				.btn{
				}
			}
		}
		&.purple .wrapper{
			background-color: rgba($purple, 0.9);
		}
		&.grey .wrapper{
			background-color: rgba($grey, 0.9);
		}
		&.dark .wrapper{
			background-color: rgba($dark, 0.9);
		}
		&.yellow .wrapper{
			background-color: rgba($yellow, 0.9);
		}
	}
}

/*============================================================
=            Section 2row website grid - Programs            =
============================================================*/
#section-2row-website-grid{
	background-attachment: fixed;
	h1{
	}
}



/*========================================
=            Jumbotron-Slider            =
========================================*/
.jumbotron-slider{

	.owl-stage{
		.owl-item{
			.bg-cover{
				padding-left:0;
			}
		}
	}
	.owl-nav{
	
		.owl-prev{
			
		}
		.owl-next{
			
		}
	}
}
.jumbotron-text {
	hgroup {
			width:100%;
		h1 {
			width:100%;
		}
	}
}

/*=======================================
=            Menu responsive            =
=======================================*/

.navbar-toggle{
	border: 1px solid #000;
  position: absolute;
  right: 0;
  border-radius: 2px;
	border: 2px solid #0077BF;
  position: absolute;
  right: 0;
  top: 55px;
  height: 45px;
  background: $blue-light;

  span{
		border: 0px;
    border-bottom: 0px;
    height: 2px;
    background: #0077BF;
		&:nth-child(2){
			transform: rotate(135deg);
			margin-top: 4px;
			transition: .3s all ease;
		}
		&:nth-child(n+3){
			transform: rotate(45deg);
			margin-top: -2px !important;
			transition: .3s all ease;
		}
		&:last-child{
			display:none;
		}
	}
	&.collapsed{
		span{
		border: 0px;
    border-bottom: 0px;
    height: 2px;
    background: #0077BF;
		&:nth-child(2){
			transform: rotate(360deg);
			transition: .3s all ease;
			margin-top: 0;
		}
		&:nth-child(n+3){
			transform: rotate(360deg);
			margin-top: 4px !important;
			transition: .3s all ease;
		}
		&:last-child{
			display:block;
		}
	}
	}
}
.navbar-collapse{
	width:100%;
	&.collapse.in {
    margin: 0px;
    padding: 0px;
	}
	.nav-primary{
	  ul{
	  	width: 100% !important;
	    margin: 0;
	    li{
		    margin: auto;
		    width:100%;
	    }
	  }
	}
	.collapsing{
	}
}

/*=============================================
=            Section Col 12 Slider            =
=============================================*/
.section-col-12-slider{

	div{
	
		.owl-carousel{
			
			.owl-item{
				.item{
					img{
						max-width:100%;
					}
					p{
					}
					span{
					}
				}
			}
			.owl-nav{
				.owl-prev{
				}
				.owl-next{
				}
			}
		}
	}
}

/*===================================
=            Modal Video            =
===================================*/

#caseStudyModal { 
		.modal-dialog {
		width:94vw;
		.modal-content { 
			iframe {
				//height: auto;
				height:330px;
			}
		}
	}
	button.close {
		top:auto;
		right:0px;
		bottom:-2.2em;
	}
}

/*===================================
=            Modal Coach            =
===================================*/
.modal{
	.coach-modal{
		padding:0;
		img{
			
		}
		h1{
		}
		p{
		}
		a{
		}
	}
}
/*==================================
=            Image Grid            =
==================================*/
.image-grid {
	 li {
	 	padding:1em;
	 }
}

/*======================================
=            Program Series            =
======================================*/

.program-series{
	text-align:center;
	border-bottom: 1px solid grey;
  padding-bottom: 3em;
	.circle{
		margin:auto;
		margin-bottom: 2em;
		&.purple{
		}
		&.yellow{
		}
		&.blue{
		}
		&.blue-light{
		}
		&.dark{
		}
		&.grey{
		}
		h6{
		}
	}
	.btn{
		float:none;
		margin-top: 1em;

	}
}
