.modal{
	top:8%;
	.modal-header {
    padding: 0;
    border-bottom: 0;
		.close{
			font-size: 46px;
			margin-right: 10px;
		}
	}
	.modal-content{
		border-radius: 0;
		box-shadow: none;
	}



	.coach-modal{
		padding:2em 7em;
		img{
			@extend .img-circle;
			width: 45%;
    	display: inline-block;
		}
		h1{
			font-size: 4em;
		}
		p{
			height:unset;
		}
		a{
		}
	}
}