.subprograms{
	margin:0 -15px;
	li{
		height:5em;
		width: (100%/3);
		float: left;
		position:relative;
		a{
			font-size: 2em;
			color:#fff;
			margin-left:1.2em;
			line-height: 2;
		}
		&:nth-child(n){
			&:after{
				content:"";
				width: 5em;
				height: 5em;
				border-top: 2.5em solid transparent;
				border-bottom: 2.5em solid transparent;
				border-left: 2.5em solid;
				border-right: 2.5em solid transparent;
				position:absolute;
				right: -5em;
				z-index: 1;
				top:0;
			}
		}
		&:last-child{
			&:after{
				display:none;
			}
		}
	}
}