// Glyphicons font path
$icon-font-path:        "../fonts/";
/*----------  Font Weight  ----------*/
$light 			: 300;
$regular 		: normal;
$bold 			: bold;
$extra-bold	: 800;
$black    	: 900;


// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-float-breakpoint: 992px;

// Colors
$color1 : #0077bf;
$color2 : #7caadb;
$color3 : #512850;
$color4 : #c7caca;
$color5 : #303a3a;
$color6 : #e5ba07;

$blue 			: $color1;
$blue-light	: $color2;
$purple 		: $color3;
$grey 			: $color4;
$dark				: $color5;
$yellow			: $color6;

$primary-font: "Alegreya Sans","Helvetica","Arial","sans-serif";

